@font-face {
    font-family: averia;
    src: url("../fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf");
}
*{
    box-sizing:border-box;
    font-family: averia;
    scroll-behavior: smooth;
}
html, body{
    width:100%;
    height:100%;
    margin:0;
}
.container{
    width:100%;
    height:auto;
    position:relative;
}